<!--
this is First page after Log in
-->
<html>
<head>
<style>
	.dropbtn {
  background-color:#4CAF50;
  color: white;
  padding: 16px;
  font-size: 35px;
  border: none;

}
a{
text-decoration:none;
color:white;
}
.body{

	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header {
	height: 100%;
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
</style>

	</head>


	<body>
<header>
	<br>
	<br>
	<br>
	<br>
<a href="http://127.0.0.1:8000/showexpense/"> <button class="dropbtn">click here to view all expenses</button></a>
<br>
<br>
<br>
<br>
<a href="http://127.0.0.1:8000/createexpense/"><button class="dropbtn"> click here to add new expense</button></a>
</header>
</body>
</html>
